.layout{
    height: 100vh;
    padding: 20px 50px;
}
.header_buttons{
    margin: 20px;
}

.header{
    height:20%;
    background-color: teal;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header h1{
    color: rgb(253, 251, 251);
    font-size: 30px;
    text-align: center;
}
.header button{
    border: 1px solid white !important;
    color: rgb(255, 255, 255) !important;
}
.content{
    height: 87%;
    border: 1px solid gray;
    margin-top: 5px;
    box-shadow: 0 0 3px gray;
    padding: 10px;
    
}
